.grid-container {
    display: grid;
    grid-template-areas:
        'navbar navbar navbar'
        'header header header'
        'leftbar content rightbar'
        'footer footer footer';
}

.navbar {
    grid-area: navbar;
}

/* Navigation Bar */
ul {
    list-style-type: none;
    overflow: auto;
}

li {
    float: left;
}

li a {
    display: block;
    font-family: "Open Sans";
    color: red;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    padding: 25px 30px 25px 100px;
}

li a:hover {
    color: yellow;
}

#logo {
    color: red;
    font-family: "Castellar";
    font-size: 40px;
    text-align: center;
    letter-spacing: 1px;
    text-shadow: 5px 1px 10px red;
    font-weight: bolder;
    padding: 10px 30px 25px 100px;
}

.header {
    grid-area: header;
    background-color: lightskyblue;
    text-align: center;
    padding: 100px;
}

.leftbar {
    grid-area: leftbar;
    background-color: grey;
    text-align: center;
    padding: 130px;
}

.content {
    grid-area: content;
    background-color: whitesmoke;
    text-align: center;
    padding: 130px;
}

.rightbar {
    grid-area: rightbar;
    background-color: grey;
    text-align: center;
    padding: 130px;
}

.footer {
    grid-area: footer;
    background-color: lightgreen;
    text-align: center;
    padding: 10px;
}

/* Responsive layout only screen and width: 100%;*/
@media (max-width: 600px) {
    .grid-container {

        grid-template-areas:
            'navbar navbar navbar'
            'header header header'
            'leftbar leftbar leftbar'
            'content content content'
            'rightbar rightbar rightbar'
            'footer footer footer';
    }
}