.grid-container {
    display: grid;
    grid-template-areas:
        'navbar navbar navbar'
        'header header header'
        'content content content'
        'footer footer footer';
}

.navbar {
    grid-area: navbar;
}

/* Navigation Bar */
ul {
    list-style-type: none;
    overflow: auto;
}

li {
    float: left;
}

li a {
    display: block;
    font-family: "Open Sans";
    color: red;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    padding: 25px 30px 25px 100px;
}

li a:hover {
    color: yellow;
}

#logo {
    color: red;
    font-family: "Castellar";
    font-size: 40px;
    text-align: center;
    letter-spacing: 1px;
    text-shadow: 5px 1px 10px red;
    font-weight: bolder;
    padding: 10px 30px 25px 100px;
}

.header {
    grid-area: header;
    background-image: url("makanan.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    width: 100%;
}

/* Header */
.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.headerbutton {
    background-color: brown;
    border: none;
    color: white;
    padding: 20px 37px;
    text-align: center;
    display: inline-block;
    font-size: 21px;
    margin: 4px 2px;
}

.headerbutton:hover {
    background-color: red;
}

.content {
    grid-area: content;
    background-color: whitesmoke;
    text-align: center;
    padding: 100px;
}

/* Card */
.column {
    float: left;
    width: 25%;
    padding: 10px 0px 10px 0px;
}

.row {
    margin: 0 -5px;
}

.card {
    width: 90%;
    border-style: solid;
}

.container {
    padding: 10px 25px;
}

#customtable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 75px;
}

#customtable td,
#customtable th {
    border: 1px solid white;
    padding: 10px;
    text-align: center;
}

#customtable tr:nth-child(even) {
    background-color: white;
}

#customtable tr:hover {
    background-color: grey;
}

#customtable th {
    padding: 15px;
    padding-bottom: 15px;
    text-align: center;
    background-color: red;
    color: whitesmoke;
}

.footer {
    grid-area: footer;
    background-color: red;
    text-align: center;
    color: white;
    padding: 25px 30px 25px 100px;
}

/* Responsive layout only screen and width: 100%;*/
@media (max-width: 600px) {
    .grid-container {

        grid-template-areas:
            'navbar navbar navbar'
            'header header header'
            'leftbar leftbar leftbar'
            'content content content'
            'rightbar rightbar rightbar'
            'footer footer footer';
    }
}